<script type="text/x-handlebars">

<style>
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 5px;
    }

    .key {
        font-weight: bold;
        font-size: 14px;
        padding-top: 5%;
    }

    #viewThroughURL {
        width: 100%;
    }

    #submit {
        float:right;
    }
    .topPadding {
        padding-top: 20px;
    }

    
</style>

<h4>Paste your view through url below and click the Submit button.</h4>
<div>
    <input type="text" id="viewThroughURL" placeholder="view through URL here" />
    <h3 id="status">{{ this.status.status }}</h3>
   
    <div class="topPadding">
        <div>
            <label for="firePixel"> Fire Pixel </label>
            <input name='btn' id="firePixel" type="radio" checked='checked'>
            <span style="display:inline-block; width:20px;"></span>
            <label for="getData"> Retrieve Data </label>
            <input name='btn' id="getData" type="radio" >
            <span style="display:inline-block; width:20px;"></span>
            <button class="btn btn-success" id="submit" > Submit </button>

        </div>
    </div>
</div>
<p></p>
<hr />
<h3> Current Data</h3>
<div id="container topPadding">
    <div id="table" class="container">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr id="header">
                    <th scope="col"> Key </th>
                    <th scope="col"> Value </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {{#each this.result.result}}
                <tr id="key">
                    <td scope="col">{{ @key }}</td>
                    <td scope="col">{{ this }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">


var tableHead = document.getElementById("tableHead")
var table = document.getElementById("table")
let urlNode = document.getElementById("viewThroughURL")
let status = document.getElementById("status")

let c = document.getElementById('submit')

c.addEventListener('click', function(e) {


    let firePixel = document.getElementById('firePixel').checked;
    let getData = document.getElementById('getData').checked;


    let val = urlNode.value
    let dataBridgeID = val.split('/')[4];
    
    if(firePixel && val.trim() !== "") {    
        localStorage.setItem("url", val)
        localStorage.setItem('checkedNode', firePixel)
        tealiumTools.invokeFunction("__firePixel", [val]);
        //status.innerText = "Status: Pending...."
    }
    if(getData && val.trim() !== "" ) {
        tealiumTools.invokeFunction("__getData", dataBridgeID)
        status.innerText = "Status: Pending...."
    }
    
})

function store() {

}

function init() {

}

</script>